@using GameManage.Logic.Models
@model GameManagementTool.Models.ShowAllCharactersViewModel

@{
    ViewData["Title"] = "Index";
}

<h2>Character Page</h2>

<p>
    <a class="btn btn-danger" role="button" aria-pressed="true" asp-action="AddNewCharacter">CREATE NEW</a>
</p>
<input type="text" id="myInput" onkeyup="SearchCharacterName()" placeholder="Search for your character.." title="Type in a character name">
<table id="adminTable" class="table table-hover table-dark">
    <thead>
    <tr>
        <th>Name</th>
        <th>Specializaton</th>
        <th>Score</th>
        <th>Created On</th>
    </tr>
    </thead>
    <tbody>
    @foreach (Character character in Model.Characters)
    {
        <tr>
            <td>@character.Name</td>
            <td>@character.SpecializationName</td>
            <td>@character.Score</td>
            <td>@character.CreatedOn</td>
        </tr>
    }
    </tbody>
</table>

<script>
    function SearchCharacterName() {
        // Declare variables
        var input, filter, table, tr, td, i;
        input = document.getElementById("myInput");
        filter = input.value.toUpperCase();
        table = document.getElementById("adminTable");
        tr = table.getElementsByTagName("tr");

        // Loop through all table rows, and hide those who don't match the search query
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[0];
            if (td) {
                if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }
</script>